*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	background-color: hsl(47, 88%, 63%);
	font-family: "Figtree", sans-serif;
	font-size: 1rem;
}



.card-title {
	font-size: 2rem;
}

.card-hero-txt {
	color: hsl(0, 0%, 50%);
	font-size: 1.4rem;
}


.container {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	max-width: 35%;
	min-width: 35%;
	background-color: white;
	padding: 2em;
	border-radius: 2em;
	margin-bottom: 1em;
	border: 2px solid black;
	box-shadow: 10px 10px;
}

.card-button{
	width: 28%;
	margin-top: 2em;
	height: 38px;
	border: none;
	background-color: hsl(47, 88%, 63%);
	border-radius: 0.5em;
    font-weight: 800;
}

.card-button:hover,
.card-button:focus {
	opacity: 0.7;
	cursor: pointer;
}

.blog-img {
	border-radius: 1em;
}

.card-button,
.card-button {
	margin-bottom: 0;
    
}

.card-ocial {
	display: flex;
	gap: 1.4em;
	align-items: center;
}